<div class="animate__animated animate__fadeIn">
<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <app-country-input 
            (onEnter)="search( $event )"
            (onDebounce)="suggestion( $event )"
            placeholder="Buscar País ..."

        >
    </app-country-input>
    </div>
</div>

<ul class="list-group" *ngIf="showSuggestion">
    <li class="list-group-item list-group-item-action" *ngFor="let country of suggestedCountries">

        <a class="nav-link" [routerLink]="['/country', country.alpha2Code]">
            {{ country.name | titlecase}}
        </a>
    </li>

    <li class="list-group-item list-group-item-action" (click)="searchSuggestion(termino)">

        <a class="nav-link">
           Buscar "{{ termino }}"
        </a>
    </li>
</ul>

<hr>


<div class="alert alert-danger" *ngIf="errorExist">
    No se encontró nada con el término {{termino}}
</div>


<div *ngIf="!errorExist && countries.length > 0" class="row">
    <div class="col">
        <app-country-table [countries]="countries" ></app-country-table>
        
    </div>
</div>
</div>