<table  class="table table-hover">
    <thead>
        <th> # </th>
        <th> Bandera </th>
        <th> Nombre </th>
        <th> Población </th>
        <th></th>

    </thead>
    <tbody>
        <tr *ngFor="let country of countries; let i = index">
            <td> {{ i + 1}}</td>
            <td>
                <img src="{{country.flag}}"  class="small-flag" alt="flag"> 
            </td>
            <td> {{country.capital}}, {{ country.name }}</td>
            <td>{{ country.population | number }}</td>
            <td>
                <a [routerLink]="['/country', country.alpha2Code]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>